@page
@model DotNetCoreApplication.Pages.HomeModel
@{
}
<style>
 

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 100vh;
        background-color: whitesmoke;
    }

    .square {
        background-color: white;
        width: 100%;
        height: 100%;
        text-align:center;
    }

    a, u {
        text-decoration: none;
    }
</style>
<div class="square">
    <h2 style=" font-family:Calibri; color:darkslateblue"><u>Welcome to DOT Net Core !!</u><br /> R&D and Learning.</h2>
    <hr />  
    <div style="text-align:left;">
        <h4 style=" font-family:Calibri;"><a href="/EMPLIST">1. CURD Operation with Razor pages &Aacute; SQL Server DB</a></h4>
        <h4 style=" font-family:Calibri;"><a href="/Home">2. Dependency Injection</a></h4>
    </div>
</div>